
<beans xmlns="http://www.Springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.Springframework.org/schema/context"
	xsi:schemaLocation="http://www.Springframework.org/schema/beans 
 http://www.Springframework.org/schema/beans/Spring-beans-3.0.xsd 
 http://www.Springframework.org/schema/context 
 http://www.Springframework.org/schema/context/Spring-context-3.0.xsd ">

	<context:annotation-config />
	<bean id="datasource"
		class="
 org.Springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test" />
		<property name="username" value="root" />
		<property name="password" value="780516" />
	</bean>
	
	<bean id="initer" init-method="init" class="service.Initializer">
	</bean>
	
	<bean id="accountDao" depends-on="initer" class="dao.AccountDAO">
		<property name="dataSource" ref="datasource" />
	</bean>
	
	<bean id="accountService" class="service.AccountService">
	</bean>
	
</beans>